# Folder useless to be shared
cours_a_donner/
quick_draw_dataset/
dataset/
cat_and_dog_dataset/
train/
job_application/

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
